* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
   

}

h3 {
   
    text-align: center;
    margin: 1rem;
}

.main {
    background-color: #C2F2C7 ;
    width: 50%;
    min-height: 25rem;
    margin: 2.5rem auto;
    border-radius: 25px;
    padding: 0.5%;
    transition: 0.4s;
}

.Name {
    text-align: left;
    max-width: 25rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    padding: 0 0.5rem;
    background-color: #fff;
    margin: 0 0.5rem;
    
}

.infonamePro {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 8rem auto;
}

.infoproAbrowse {
    text-align: right;
    display: grid;
    grid-template-columns: auto 15rem;
}

.infostatus {
    margin-top: 1rem;
    display: grid;
    text-align: right;
    grid-template-columns: 17% 12% 12%;
}
.btn {
    margin-left: 1rem;
    margin-top: 3.7rem;
    background-color: white;
    transition: 0.4s;
    border-radius: 15px;
   }
.Browse {
    text-align: left;
}
.infbtn{
    margin: 1.5rem 0.5rem;
    background-color: #fff;
    width: 7rem;
    height: 2rem;
    border: none;
    border-radius: 15px;
    transition: 0.4s;
}
.infbtn:hover{
    background-color: #C2F2C7;

}
.infobtn{
    text-align: left;
    margin-left: 7rem;
}

/* this popup */
.popup{
    position: relative;
    margin: 5rem auto;
    padding: 1.5rem;
    background: #fff;
    border-radius: 1rem;
    width: 25rem;
    transition: all .4s ease-in-out;
    display: grid;
    grid-template-columns: auto auto;
}
.popup h3{
    color: #FF4949;
    font-size: 1.5rem;
}
.popup .close{
    right: 1rem;
    top: 1rem;
    position: absolute;
    transition:  all 400ms;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none  ;
    color: black;

}
.error{
    color: #FF4949;
}

#confirm {
    display: none;
    border: 1px solid;
    position: fixed;
    width: 250px;
    left: 50%;
    margin-left: -100px;
    padding: 25px;
    text-align: center;
 }  